doctype html
html
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} | Boilerplate
    base(href="#{base}")
    link(rel='stylesheet', href='css/style.css')
  body
    include ../_includes/navbar.jade
    block content
    script(src='js/bundle.js')
